/* GENERAL SETTINGS FOR STYLE */
@font-face {
    font-family: 'IRANSANS';
    src: url('../fonts/IRANSansWeb.woff') format('woff'), url('../fonts/IRANSansWeb.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSANS BOLD';
    src: url('../fonts/IRANSansWeb_Bold.woff') format('woff'), url('../fonts/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Number';
    src: url('../fonts/jw-icons.woff') format('woff'), url('../fonts/jw-icons.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "IRANSANS";
    height: 100%;
    overflow-x: hidden;
    direction: rtl;
    background-color: #414E61;
}
.show{
    display: block!important;
}
.hide{
    display: none!important;
}
.center_col{
    margin: 0 auto;
    float: none;
}
a,a:hover{
    text-decoration: none;
}
.btn{
    outline: none!important;
    box-shadow: none!important;
}
.custome_modal .modal-content{
    box-shadow: none;
    border:1px solid transparent;
    border-radius: 4px;
}
.main{
    display: none;
}
.red_border{
    border:1px solid #CF000F!important;
}
.red_border_bottom{
    border-bottom:1px solid #CF000F!important;
}
.tooltip-inner {
    font-family: IRANSANS;
}